<div class="body">
  <div class="project-text-wrapper">
  <div class="title">
    <h1>My Projects</h1>
  </div>
  <div class="text">
    <p>
      I've created many projects, mostly using Java/Kotlin or JavaScript/TypeScript. Usually I use Angular for the frontend (like here) and Ktor for the backend.
    </p>
    <br>
    <div class="link">
      <p>
        Check out my GitHub to get an insight into my projects:
      </p>
      <a href="https://github.com/GGeasygame" target="_blank">https://github.com/GGeasygame</a>
    </div>
  </div>
  </div>
</div>

