.body {
  height: var(--page-height);
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-text-wrapper {
  width: 60%;
}

h1 {
  margin-bottom: 1em;
}

.link {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 3em;

  a, a:checked {
    display: inline;
    width: max-content;
    color: aquamarine;
    text-decoration: none;
  }

  a:hover {
    position: relative;
  }

  a:hover::before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 50%;
    height: 3px;
    width: 0;
    background-color: black;

    animation-name: animate-link-hover-right;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  }

  a:hover::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 50%;
    height: 3px;
    width: 0;
    background-color: black;

    animation-name: animate-link-hover-left;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  }
  @keyframes animate-link-hover-right {
    from {
      width: 0;
    }
    to {
      width: 50%;
    }
  }

  @keyframes animate-link-hover-left {
    from {
      width: 0;
      left: 50%;
    }
    to {
      width: 50%;
      left: 0;
    }
  }
}

