#scrollbar {
  width: 100vw;
  height: 40px;
  display: flex;

  .scrollbar-item {
    flex: 1 1 0;
    position: relative;
    height: 100%;
  }
}

.page-num {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'Azeret Mono', monospace;
  color: #f0ffff;
  font-size: 1.5rem;

  opacity: 0;
  transition: opacity 0.3s;
}

.podium {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 7em;
  height: 0.2em;
  background-color: #000000;
  box-shadow: azure 0 0 10px 2px;
  transition: height 0.5s, box-shadow 0.5s;
}

.highlighted {
  .page-num {
    opacity: 100%;
    transition: opacity 0.3s;
  }

  .podium {
    box-shadow: azure 0 0 10px 10px;
    height: 0.5em;
    transition: height 1s, box-shadow 1s;
  }

  height: 0.5em;
  transition: height 1s, box-shadow 1s;
}

.podium:hover {
  box-shadow: #eeee77 0 0 10px 10px;
  height: 0.5em;
  transition: height 1s, box-shadow 1s;
}
.podium:hover ~ .page-num {
  opacity: 100%;
  transition: opacity 0.3s;
}


